.post
  %h2
    %a{:href=>"/#{path}"}=title
  =render "posts/#{path}.haml", locals
  -tags.each do |tag|
    =render_link "/tag/#{tag}", "#{tag}"
  #disqus_thread
  :javascript
     var disqus_shortname = 'joeframbach';
     var disqus_identifier = '#{path}';
     var disqus_title = '#{title}';
     var disqus_url = 'http://joe.framba.ch/#{path}';
  %script{:type=>"text/javascript", :src=>"//joeframbach.disqus.com/embed.js"}
