.post.post-preview
  %a.post-preview-link{:href=>"/#{path}"}
    %span

  %h2
    %a #{title}
  -tags.each do |tag|
    =render_link "/tag/#{tag}", "#{tag}", false
  -if images.size && !images[0].nil?
    %figure
      %img{:src=>"#{images[0]}",:alt=>"Preview image"}
